body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

#title {
    background-color: #0F2442;
}
.logo-img{
  background-color: white;
  border-radius: 10%;
}
.navbar-expand-lg{
    padding: 0 1%; ;
}
.navbar-fixed-top{
   color: rgb(130, 194, 35);
}
.get-the-best {
    font-family: 'Roboto', sans-serif;
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 100;
    color: white;
    margin-top: 5%;
}

.info {
    margin: 0 15%;
    margin-top: 4%;
}

*/

.upper-text {
    color: #F79A6F;
    text-align: center;
    display: block;
}
@media screen and (max-width: 600px) {
    .upper-text{
        padding-top: 8%;
    }
}

.under-text {
    color: white;
    font-size: 1.5rem;
    font-weight: lighter;
}

.color-white-h1 {
    padding-left: 0;
    padding-top: 8%;
}
@media screen and (max-width: 600px) {
    .color-white-h1{
        padding-top: 10%;
    }
}

b {
    color: #9ACD32;
    padding: 0 auto 0 auto;
    margin: 0 auto 0 auto;
}

.aero-boxs {
    width: 3%;
    height: 10%;
    margin-top: 3%;
}

.get-the-best-section {
    background-image: url(images/banner.jpeg);
 

}


.text-center {
    text-align: center!important;
   
}
@media screen and(max-width: 600px){
    .text-center{
        padding-top: 10%;
    }
}

.search {
    margin-top: 2%;
}

.lg-btn{
  border-radius: 15%;
}
.search-bar {

    text-align: center!important;
  
}

.front-title {
    font-size: 2.5rem;
}

.lists {
    margin-left: 20%;
}

li {
    padding: 0 auto 0 auto;
}

.feature-degrees{
    width: 100%;
}

.tab {
    overflow: hidden;

    text-align: center;
    width: 100%;
    height: 10%;
    cursor: pointer;
  }
.tab.active{
    background-color: #CCC;
}
.tab:hover{
    background-color: #AAA;
}

.tabcontent {
   
    width: 100%;
    padding: 6px 12px;
    
    border-top: none;
}  
.select-any-field{

    text-align: center;
    list-style: none;
   
}
.select-course-h1tag{
    padding-bottom: 5%;
}
.placement{
    display: none;
}
.we-offer-class{
    background: #ADA996;  
    background: -webkit-linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    padding: 3% 10%;
}


.what-we-offer-imgs{
   border-radius: 50%;
}
.card-block{
    background-color: #9ACD32;
}
#how-it-help{
    padding: 3% 10%;
}

.how-it-help-class{
    background-color: white;
    padding-top: 2%;
}
.how-it-help-h1tag{
    text-align: left;
}
.how-it-help-points-class{
    text-align: left;
    margin-top: 5%;

}
.upload-read-buttons{
    text-align: left;
    margin-bottom: 10%;
}
.youtube-video{
  margin-bottom: 10%;
}
/* Download app section */
.download-app-class{
    color: white;
    text-align: left;
    padding-top: 5%;
    padding: 7% 10%;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4286f4, #373B44);  
    background: linear-gradient(to right, #4286f4, #373B44); 
}
.download-btn{
    text-align: left;
    margin-left: 20%;
}
.download-app-info-class{
    padding-top: 7%;
    margin-bottom: 10%;
}
@media screen and(max-width: 600px){
    .mobile-img{
        transform: rotate(25deg);
        padding-right: 10%;
    }
}
@media screen and(max-width: 800px){
    .mobile-img{
        transform: rotate(-25deg);
        padding-right: 10%;
    }
}


/* Testimonials Section */
#testimonials
{
  padding: 3% 7%;
	background-color: white;
	color: black;
}
.carousel-indicators li {
    background-color: green;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: rgb(26, 74, 136);
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.testimonial-image
{
	width: 20%;
	margin: 3%;
	border-radius: 50%;
	border-style:line;
}
.testimonial-text{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0;
}
.carousel-item
{
	padding: 7% 15%;
}
.carousel-span{
    background-color: lightgrey;
    width: 20%;
    height: 70%;
}
.last-carousel-slide{
  background-color: white;
}

.footer-area{
    background-color: #0F2442;
    padding: 3% 5%;
}
.footer-title{
    font-weight: 500;
    font-size: 1.3rem;
    margin-bottom: 30%;
}
@media screen and (max-width: 600px) {
    .footer-title{
        font-weight: 500;
        font-size: 1.3rem;
        margin-bottom: 1%;
    }
}
a.footer-links{
    color: white;
    text-decoration: none;
}
.all-footer-details{
    font-weight: 50;
    cursor: pointer;
    margin-top: 15%;
}
@media screen and (max-width: 600px) {
    .all-footer-details{
        font-weight: 500;
        margin-bottom: 1%;
        margin-top: 3%;
    }
}
.last{
    margin-top: 0;
    cursor: pointer;
}
.sub-scribe-h3tag{
    color: white;
    text-align: left;
}
@media screen and (max-width: 600px){
    .sub-scribe-h3tag{
        text-align: center;
    }   
}
.form-control{
    width: 80%;
    height: 30%;
    text-align: center;
}
@media screen and (max-width: 600px){
    .form-control{
        text-align: center;
    }
}
@media screen and (max-width: 600px){
    .form-group{
        margin-left: 15%;
    }
}

.submit{
    background-color: thistle;
    cursor: pointer;
}
.horizontal-list{
  line-height: 2rem;
  margin: 0 auto;
  display: inline;
  color: white;
  padding-left: 0;
  list-style: none;
  text-align: left;
}

@media screen and (max-width: 600px) {
  .horizontal-list {
    margin-top: 3%;
    margin-bottom: 3%;  
  }
}
.email{
    color:white;
    font-size: 1.5rem;
    text-align: center;
}
.download-app-class-links{
    text-align: center;
}
@media screen and (max-width: 600px){
    .download-app-class-links{
        text-align: center;
    }
}



.lastlogos
{
    background-color: tomato;
    margin-right: 30%;
	
}

.copyright1
{
  color: white;
  margin-top: 5%;
}

/* Cards Styles */
.what-we-offer-imgs{
    height:150px;
    width:100%;
  }
  .item{
    padding-left: 0;
    padding-right: 0;
  }
  .item-card{
    transition:0.5s;
    cursor:pointer;
  }
  .item-card-title{  
    font-size:10px;
    transition:1s;
    cursor:pointer;
  }
  .item-card-title i{  
    font-size:10px;
    transition:1s;
    cursor:pointer;
    color:#ffa710
  }
  .card-title i:hover{
    transform: scale(1.25) rotate(100deg); 
    color:#18d4ca;
    
  }
  .card:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3);
  }
  .card-text{
    height:80px;  
  }
  
  .card::before, .card::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale3d(0, 0, 1);
    transition: transform .3s ease-out 0s;
    background: rgba(255, 255, 255, 0.1);
    content: '';
    pointer-events: none;
  }
  .card::before {
    transform-origin: left top;
  }
  .card::after {
    transform-origin: right bottom;
  }
  .card:hover::before, .card:hover::after, .card:focus::before, .card:focus::after {
    transform: scale3d(1, 1, 1);
  }
/* /.Cards styled */
.select-course-fluid{
    background-color: white;
    padding: 5% 15%;
    margin-top: 0;
}

@media screen and (max-width: 600px) {
    .second-tab{
        display: none;
    }
}

[data-tab-content] {
    display: none;
}
.active[data-tab-content] {
    display: block;
}
.select-any-field{
    columns: 2;
    text-align: center;
}
.li-border{
    list-style: none;
    border-bottom: 1px dashed olive;
    border-top: 1px dashed olive;
}
@media screen and (max-width: 600px){
    .li-border{
        width: 50%;
        line-height: 2.5;
    }
}
@media screen and (max-width: 800px){
    .li-border{
        width: 100%;
    }
}
.eng-fields{
    columns: 2;
    text-align: left;
    
    line-height: 2.5; 
}
@media screen and (max-width: 600px){
    .eng-fields{
        columns: 1;
        text-align: left;
        
        line-height: 2.5; 
    }
    .second-tab{
        display: inline;
    }
}
.btn-warning {
    margin-left: 2%;
}
.btn-danger{
    background-color: red;
}



